:root {
    --ButtonGreen: #BBF330;
    --DarkGreen: #7EB101;
    --YellowMain: #FFE550;
    --Black: #2C2C2C;
    --White: #FEFEFE;
    --neutral-dark-gray: #505050;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--Black);
    background-color: var(--White);
}

button {
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    border: none;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    object-fit: contain;
}

* {
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

input {
    color: inherit;
    font-family: inherit;
    outline: transparent;
}


.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 16px;
    }
}




/* Logo */

.logo {
    transition: transform 0.3s ease-in-out;
}

.logo:hover,
.logo.focus {
    transform: scale(1.1);
}




/* Header */

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--White);
}

.page-header {
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .header-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-nav {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-nav {
        display: block;
    }
}

.header-list {
    display: flex;
    gap: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.nav-link {
    color: var(--Black);
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.nav-link.active {
    color: var(--ButtonGreen);
    font-weight: 700;
    text-decoration-line: underline;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ButtonGreen);
}

.header-btn {
    display: none;
    justify-content: center;
    text-align: center;
    padding: 6px 18px;
    border-radius: 30px;
    background-color: var(--ButtonGreen);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease-in-out;
}

.header-btn:hover,
.header-btn:focus {
    background-color: var(--YellowMain);
}

@media screen and (min-width: 768px) {
    .header-btn {
        display: flex;
    }
}

.menu-toggle {
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.burger-menu {
    fill: var(--DarkGreen);
    transition: fill 0.3s ease-in-out;
}

.burger-menu:hover {
    fill: var(--YellowMain);
}




/* Main */


/* Hero */

.hero-page {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 1280px) {
    .hero-page {
        padding-top: 27px;
        padding-bottom: 27px;
    }
}

.hero-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .main-title {
        width: 537px;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 44px;
    }
}

@media screen and (min-width: 1280px) {
    .main-title {
        width: 515px;
        font-size: 48px;
        margin-bottom: 28px;
    }
}


.main-text {
    width: 266px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .main-text {
        width: 336px;
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .main-text {
        width: 515px;
        font-size: 16px;
        margin-bottom: 46px;
    }
}

.hero-btn {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding: 6px 18px;
    border-radius: 30px;
    background-color: var(--ButtonGreen);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease-in-out;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--YellowMain);
}

.hero-image {
    display: none;
    border-radius: 320px;
    border: 14px solid var(--YellowMain);
    background: transparent;
}

@media screen and (min-width: 768px) {
    .hero-image {
        display: block;
        position: absolute;
        top: 50px;
        left: 416px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-image {
        position: initial;
        width: 511px;
        height: 511px;
        border-radius: 560px;
        padding: 10.5px;
    }
}


/* Offerings */

.page-offerings {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--YellowMain);
}

@media screen and (min-width: 1280px) {
    .page-offerings {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.offerings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

@media screen and (min-width: 768px) {
    .offerings-container {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1280px) {
    .offerings-container {
        flex-direction: row;
        gap: 126px;
        align-items: center;
    }
}

.apple-wrap {
    display: flex;
    gap: 31.5px;
    align-items: center;
}

.add-apples-wrap {
    display: none;
    align-items: flex-end;
    gap: 31.5px;
}

@media screen and (min-width: 768px) {
    .add-apples-wrap {
        display: flex;
    }
}

@media screen and (min-width: 1280px) {
    .add-apples-wrap {
        display: none;
    }
}

.offerings-image {
    padding: 7px 7px;
    border-radius: 280px;
    border: 5px solid rgba(255, 255, 255, 0.50);
}

@media screen and (min-width: 768px) {
    .offerings-image{
        padding: 11px 11px;
        width: 365px;
        height: 363px;
        border-radius: 365.484px;
    }
}

@media screen and (min-width: 1280px) {
    .offerings-image {
        padding: 19px 19px;
        width: 502px;
        height: 502px;
        border-radius: 550px;
    }
}

.offerings-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
    .offerings-title {
        width: 526px;
        font-size: 42px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .offerings-title {  
        line-height: 1.2;
    }
}

.offerings-text {
    width: 272px;
    font-size: 14px;
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .offerings-text {
        width: 500px;
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .offerings-text {
        line-height: 1.5;
    }
}

.offerings-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .offerings-list {
        flex-direction: row;
        align-items: flex-start;
        gap: 116px;
        margin-bottom: 63px;
    }
}

@media screen and (min-width: 1280px) {
    .offerings-list {
        gap: 67px;
        align-items: center;
        margin-bottom: 58px;
    }
}

.offerings-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--White);
    border-radius: 48px;
    width: 48px;
    height: 48px;
    
}

.offerings-list-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 16px;
}

@media screen and (min-width: 1280px) {
    .offerings-list-title {
        line-height: 1.4;
    }
}

.offerings-list-text {
    width: 252px;
    font-size: 14px;
}

@media screen and (min-width: 1280px) {
    .offerings-list-text {
        line-height: 1.5;
        width: 253px;
    }
}

.offerings-btn {
    padding: 10px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 30px;
    border: 2px solid var(--DarkGreen);
    background: var(--White);
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.offerings-btn:hover,
.offerings-btn:focus {
    border: none;
    background-color: #BBF330;
}

.offerings-wrap {
    display: flex;
    gap: 24px;
    align-items: center;
}

.wrap-add-el {
    display: flex;
    gap: 3.5px;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .wrap-add-el {
        display: none;
    }
}

.offerings-text-el {
    color:  #000;
    font-size: 13.667px;
    line-height: 1.5;
}



/* Menu */

.menu-page {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 1280px) {
    .menu-page {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.menu-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .menu-title {
        font-size: 42px;
    }
}

.menu-text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .menu-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .menu-text {
        margin-bottom: 36px;
    }
}

.menu-image {
    padding: 18px;
    border-radius: 139.5px;
    border: 11px solid var(--YellowMain);
    background: transparent;
    transition: border-color 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .menu-image {
        width: 268px;
        height: 268px;
        padding: 20px;
        border-radius: 167.5px;
        border: 14px solid var(--YellowMain);
    }
}

@media screen and (min-width: 1280px) {
    .menu-image {
        width: 315px;
        height: 315px;
        padding: 24px;
        border-radius: 197.5px;
        border: 16px solid var(--YellowMain);
    }
}

.menu-image-hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu-image-hidden {
        display: block;
    }
}

.menu-image:hover,
.menu-image:focus {
    border-color: var(--ButtonGreen);
    cursor: pointer;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media screen and (min-width: 767px) {
    .menu-list {
        gap: 32px;
    }
}






/* Feedback */

.feedback-page {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--YellowMain);
}

@media screen and (min-width: 1280px) {
    .feedback-page {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.feedback-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .feedback-title {
        font-size: 42px;
    }
}

.feedback-text {
    font-size: 14px;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .feedback-text {
        font-size: 16px;
    }
}

.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .feedback-list {
        flex-direction: row;
        gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .feedback-list {
        gap: 140px;
    }
}

.feedback-item {
    background-color: var(--White);
    width: 280px;
    height: 247px;
    padding: 7px 8px 9px;
    border-radius: 0px 30px 30px 30px;
}

@media screen and (min-width: 768px) {
    .feedback-item {
        width: 336px;
        height: 262px;
        padding: 17px 12px 30px;
    }
}

@media screen and (min-width: 1280px) {
    .feedback-item {
        width: 501px;
        height: 227px;
        padding: 14px;
    }
}

.star-wrap {
    display: flex;
    gap: 4px;
}

.feedback {
    width: 264px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 29px;
    margin-bottom: 41px;
}

@media screen and (min-width: 768px) {
    .feedback {
        width: 312px;
        font-size: 18px;
        margin-top: 26px;
        margin-bottom: 31.5px;
    }
}

@media screen and (min-width: 1280px) {
    .feedback {
        width: 473px;
        margin-top: 28px;
        margin-bottom: 42px;
    }
}

.feedback-user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.feedback-user::after {
    content: "";
    position: absolute;
    left: 158px;
    width: 1px;
    height: 52px;
    background-color: var(--DarkGreen);
}

.user-image {
    border: 2px solid var(--YellowMain);
    border-radius: 50%;
    overflow: hidden;
}

.username {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 2px;
}

.user-text {
    font-size: 14px;
    line-height: 1.5;
}




/* Registration */

.registration-page {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (min-width: 1280px) {
    .registration-page {
        padding-top: 89px;
        padding-bottom: 88px;
    }
}

@media screen and (min-width: 768px) {
    .banan-image {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .banan-image {
        display: block;
        width: 546px;
        height: 266px;
    }
}

.registration-container {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

@media screen and (min-width: 1280px) {
    .registration-container {
        flex-direction: row-reverse;
        gap: 46px;
    }
}

.registration-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .registration-title {
        font-size: 42px;
    }
}

@media screen and (min-width: 1280px) {
    .registration-title {
        margin-bottom: 28px;
    }
}

.registration-text {
    font-size: 14px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .registration-text {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .registration-text {
        margin-bottom: 34px;
    }
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .reg-form {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .reg-form {
        gap: 21px;
    }
}

.reg-form-input {
    display: inline-flex;
    align-items: center;
    width: 279px;
    padding: 12px;
    border-radius: 30px;
    border: 0.854px solid var(--YellowMain);
    background: var(--White);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    transition: border 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .reg-form-input {
        width: 395px;
        padding: 12px 57px 12px 12px;
    }
}

.reg-form-input::placeholder {
    color: var(--neutral-dark-gray);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}

.reg-form-input:focus,
.reg-form-input:active {
    border: 0.854px solid var(--DarkGreen);
}

.reg-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    border-radius: 30px;
    background: var(--ButtonGreen);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease-in-out;
}

.reg-form-btn:hover,
.reg-form-btn:focus,
.reg-form-btn:active {
    background-color: var(--YellowMain);
}




/* Footer */

.page-footer {
    padding-top: 60px;        
    padding-bottom: 70px;
    background-color: var(--White);
    box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.10);
    background-image: url(../images/footer-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;        
    background-position-y: bottom;
}

@media screen and (min-width: 768px) {
    .page-footer {
        padding-top: 81px;
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 102px;
    }
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .footer-wrap {
        gap: 31px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-wrap {
        flex-direction: row;
        align-items: center;
        gap: 320px;
        margin-bottom: 80px;
    }
}

.footer-mobile-wrap {
    display: flex;
    gap: 81px;
}

@media screen and (min-width: 768px) {
    .footer-mobile-wrap {
        align-items: center;
        gap: 120px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-mobile-wrap {
        gap: 148px;
    }
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .footer-list {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 1280px) {
    .footer-list {
        gap: 28px;
    }
}

.footer-link {
    color: var(--Black);
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--ButtonGreen);
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-footer-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .form-footer-wrap {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .form-footer-wrap {
        gap: 13px;
    }
}

.form-footer-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.footer-form-input {
    padding: 12px 61.5px 12px 12px;
    width: 279px;
    border-radius: 30px;
    border: 0.854px solid var(--YellowMain);
    background: transparent;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    transition: border 0.3s ease-in-out;
}

.footer-form-input::placeholder {
    color: var(--neutral-dark-gray);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}

.footer-form-input:focus,
.footer-form-input:active {
    border: 0.854px solid var(--DarkGreen);
}

.footer-form-btn {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    display: inline-flex;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 30px;
    border: 2px solid var(--DarkGreen);
    background: transparent;
    transition: border 0.3s ease-in-out;
}

.footer-form-btn:hover,
.footer-form-btn:focus,
.footer-form-btn:active {
    border: 2px solid var(--YellowMain);
}

@media screen and (min-width: 768px) {
    .footer-form-btn {
        margin: 0;
    }
}

.footer-text {
    font-size: 10px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .footer-text {
        font-size: 12px;
        margin: 0;
    }
}

.footer-library {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .footer-library {
        flex-direction: row;
        gap: 210px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-library {
        gap: 780px;
    }
}

.library-list {
    display: flex;
    align-items: center;
    gap: 33.5px;
}

@media screen and (min-width: 768px) {
    .library-list {
        gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .library-list {
        gap: 20px;
    }
}

.library-link {
    color: var(--DarkGreen);
    font-size: 10px;
    transition: color 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .library-link {
        font-size: 12px;
    }
}

.library-link:hover,
.library-link:focus {
    color: var(--ButtonGreen);
}

.copyright {
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .copyright {
        font-size: 12px;
    }
}





/* Mobile menu */

.mb-menu {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 130px;
    padding: 16px;
    border-radius: 30px 0px 30px 30px;
    background: var(--White);
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
    z-index: 3;
}

@media screen and (min-width: 360px) {
    .mb-menu {
        right: 50;
    }
}

@media screen and (min-width: 420px) {
    .mb-menu {
        right: 80;
    }
}

@media screen and (min-width: 480px) {
    .mb-menu {
        right: 100;
    }
}

@media screen and (min-width: 550px) {
    .mb-menu {
        right: 145;
    }
}

@media screen and (min-width: 600px) {
    .mb-menu {
        right: 160;
    }
}

@media screen and (min-width: 650px) {
    .mb-menu {
        right: 190;
    }
}

@media screen and (min-width: 700px) {
    .mb-menu {
        right: 210;
    }
}

@media screen and (min-width: 735px) {
    .mb-menu {
        right: 235;
    }
}

@media screen and (min-width: 768px) {
    .mb-menu {
        display: none;
    }
}

.mb-menu-button {
    background-color: transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.icon-close{
    fill: var(--Black);
    transition: fill 0.3s ease-in-out;
}

.icon-close:hover,
.icon-close:focus,
.icon-close:active {
    fill: var(--DarkGreen);
}

.mb-menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mb-menu-link {
    color: #000;
    transition: color 0.3s ease-in-out;
}

.mb-menu-link:hover,
.mb-menu-link:focus,
.mb-menu-link:active {
    color: var(--DarkGreen);
}



/* Modal Window */

.mdl-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(94, 99, 99, 0.70);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 300;
    transition: transform 0.3s ease-in-out;
}

.mdl-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 320px;
    padding: 32px 20px;
    border-radius: 30px;
    background: var(--YellowMain);
}

@media screen and (min-width: 768px) {
    .mdl-window {
        width: 458px;
        padding: 32px 32px;
    }
}

.mdl-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 11px;
    border-radius: 50%;
    background-color: var(--White);
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}

.mdl-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.mdl-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-wrap {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.mdl-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    margin-left: 12px;
}

.mdl-input {
    width: 280px;
    padding: 14px 12px;
    border-radius: 30px;
    border: 1px solid var(--DarkGreen);
    background: var(--White);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
    font-size: 16px;
    line-height: 1.25;
}

@media screen and (min-width: 768px) {
    .mdl-input {
        width: 394px;
    }
}

.mdl-input::placeholder {
    color: #C4C4C4;
    font-size: 16px;
    line-height: 1.25;
}

.mdl-form-btn {
    display: flex;
    width: 106px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--DarkGreen);
    background: var(--White);
    margin: 0 auto;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    transition: background-color 0.3s ease-in-out;
}

.mdl-form-btn:hover,
.mdl-form-btn:focus,
.mdl-form-btn:active {
    background-color: var(--ButtonGreen);
}